

/* Root colors */
:root {
    --tekst-grey: #787C7F;
    --button-grøn: #69C45E;
    --button-gul: #EFD64A;
    --button-blå: #4F98CA;
    --button-effekt-grøn: #52ad4c;
    --button-effekt-gul: #DBC966;
    --button-effekt-blå: #578DB2;
}


/* Colorblind colors */
.colorblind {
    --tekst-grey: #000000;
    --button-grøn: #000000;
    --button-gul: #000000;
    --button-blå: #000000;
    --button-effekt-grøn: #787C7F;
    --button-effekt-gul: #787C7F;
    --button-effekt-blå: #787C7F;
}


/* Viewport match user */
.viewport-container {
    width: 100vw;
    height: 100vh;
}


/* Fjern browser automatisk spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Gør baggrund hvid på alle 'body'*/
body {
    background: white;
    font-family: "Franklin Gothic Medium";
}


/* Container boxes */
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container-flashcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    text-align: center;

    margin: 80px auto;

    width: 1200px;
    height: 700px;

    border: 1px solid lightgray;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 2px;

    transition: 0.4s;
    cursor: pointer;
}

.container-flashcard-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: 800px;
    margin-right: 800px;

    text-decoration: none;
    text-align: center;

    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
    color: black;
}

/* Tekst Designs */
.overtitel {
    color: black;
    font-size: 62px;
    font-weight: 700;
    margin-bottom: 20px;
}

.undertitel {
    color: var(--tekst-grey);
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 40px;
}


/* Image Design */
.image-redesign {
    transform: scale(0.8);
    border: black solid 0.2px;
}


/* Knapper */
.grøn-knap {
    display: block;
    margin: 0 auto 40px;

    width: 160px;
    height: 52px;

    border: black;
    border-radius: 30px;

    background-color: var(--button-grøn);
    color: white;

    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: "Franklin Gothic Medium";

    line-height: 52px;
    text-align: center;

    transition: 0.2s;
    cursor: pointer;
}

.gul-knap {
    display: block;
    margin: 0 auto 40px;

    width: 160px;
    height: 52px;

    border: black;
    border-radius: 30px;

    background-color: var(--button-gul);
    color: white;

    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: "Franklin Gothic Medium";

    line-height: 52px;
    text-align: center;

    transition: 0.2s;
    cursor: pointer;
}

.tilbage-knap {
    position: absolute;
    top: 15px;
    left: 15px;

    width: 90px;
    height: 50px;

    background-color: var(--button-blå);
    color: white;

    border-radius: 30px;

    text-decoration: none;
    font-size: 48px;
    text-align: center;
    line-height: 40px;

    transition: 0.2s;
    cursor: pointer;
}

.colorblind-knap {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 70px;
    height: 40px;

    opacity: 75%;

    background-color: black;
    color: white;

    border-radius: 30px;

    text-decoration: none;
    font-size: 10px;
    text-align: center;

    transition: 0.2s;
    cursor: pointer;
}

.flashcard-back-knap {
    text-decoration: none;
    background-color: white;
    color: black;

    font-size: 40px;

    transition: 0.2s;
    cursor: pointer;
}

.answer {
    display: block;
    align-content: center;
    width: 50%;

    margin: 10px 0;
    padding: 10px;

    border: none;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;

    font-size: 20px;
    text-align: center;
    font-family: "Franklin Gothic Medium";
    color: white;
    background-color: var(--button-gul);

    transition: 0.2s;
    cursor: pointer
}

#answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#next-btn {
    font-family: "Franklin Gothic Medium";
    color: white;
    background-color: #787c7f;

    font-size: 20px;
    text-decoration: none;

    border: none;
    border-radius: 30px;

    width: 120px;
    margin-top: 30px;
    padding: 12px;

    transition: 0.2s;
    cursor: pointer
}


/* Knap effects */

.flashcard-back-knap:hover {
    color: #787C7F;
    transform: scale(1.2);
}

.container-flashcard:hover {
    transform: scale(1.02);
}

.grøn-knap:hover {
    background-color: var(--button-effekt-grøn);
}

.grøn-knap:active {
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 1);
    transition: 10ms;
}

.gul-knap:hover {
    background-color: var(--button-effekt-gul)
}

.gul-knap:active {
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 1);
    transition: 10ms;
}

.tilbage-knap:hover {
    background-color: var(--button-effekt-blå)
}

.tilbage-knap:active {
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 1);
    transition: 10ms;
}

.answer:hover {
    background: var(--button-effekt-gul);
}

.answer:active {
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 1);
    transition: 10ms;
}

#next-btn:hover {
    background: var(--button-effekt-blå);
}

#next-btn:active {
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 1);
    transition: 10ms;
}

.correct {
    background: #69C45E !important;
    color: white;
}

.wrong {
    background: red !important;
    color: white;
}

/* Script CSS */

.hidden {
    display: none;
}